.container{
    width: 80%;
    position: absolute;
    top: 10%;
    right:0;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    gap :9px; 
    z-index: 0;
}
.justify-content-center{
    margin: auto auto;
    width: 80%;
    height: 100%;
}
.cards_container{
    padding: 9px;
    /* background-color: rgba(115, 142, 133, 0.644); */
    background-color: teal;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    text-align: center;
}
.card{
    height: 45vh;
    background-color: pink;
    flex: 1;
}
.standout{
    box-shadow: rgb(39, 39, 39) 3px 3px 6px  ,rgb(39, 39, 39) 3px 3px 6px 3px  ;
}
select{
    margin: 0 25%;
    width: 50%;
    padding: 12px 18px;
    border: 2.5px solid black;
    display: inline-block;
    border-radius: 9px;
    box-sizing: border-box;
} 